html,body,div,svg{
	margin:0;
	padding:0;
	list-style:none;
}

#speedPlot {
	margin-bottom: 80px;
}

#analyticalPlot{
	margin-bottom: 40px;
 }

.col-img {
	width: 450px;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background:#192F38;
	font-family: 'Raleway', sans-serif;
}

body{

	font-size: 16px;
	color: #dbe5e6;
}

h1{
	font-weight: 300;
	font-size: 40px;
	color: #E7F1F2;
}
h2{
	font-weight: 500;
	font-size: 18pt;
	margin-top: 50px;
	color: #799ead;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin-bottom: 20px;
}

h3,.event-names{
	font-size: 10pt;
	font-weight: 800;
	color: #D1D5D7;
	fill: #D1D5D7;
	text-transform: uppercase;
}

p{
	font-weight: 400;
	font-size: 11pt;
	line-height: 1.5;
}
a{
	font-weight: 400;
	font-size: 11pt;
	color: #799ead;
	margin-left: -15px !important;
}
a .header {
	margin-left: -15px !important;
}

.header:hover,
.header.active,
.header:active,
.header.focus,
.header:focus {
	color: #D1D5D7;
	text-decoration: none;
	font-weight: 500;
}

.container .section{
	width:100%;
}
.container .canvas {
	width:100%;
	/*background:#192F38;*/
	/*height:800px;*/
	position:relative;
}

.container-fluid {
	margin-right: 0;
	margin-left: 0;
	padding-left: 60px;
	padding-right: 60px;
}

.firstPart {
	color: #799ead;
	background-color: #192f38;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 -3px 7px rgba(0, 0, 0, 0.1);
	padding-top: 100px;
	padding-bottom: 30px;
	border-bottom: 1px solid #213d48;
}


.navSpeedEvent-scrolled {
	position: fixed !important;
	top: 0;
	padding-top: 15px !important;
	padding-bottom: 30px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 -3px 7px rgba(0, 0, 0, 0.1);
	width: 100%;
	left: 0;
	padding-left: 70px;
	padding-right: 70px;
}


/*@media (min-width: 991px){*/
	/*.navSpeedEvent .col-md-2 {*/
		/*width: 50%;*/
	/*}*/
	/*.navSpeedEvent .col-md-1 {*/
		/*width: 25%;*/
	/*}*/
/*}*/

/*@media (max-width: 990px){*/
	/*.navSpeedEvent .col-md-2 {*/
		/*width: 50%;*/
	/*}*/
	/*.navSpeedEvent .col-md-1 {*/
		/*width: 25%;*/
	/*}*/
/*}*/

.visualizations-scrolled{
	margin-top: 150px;
}

.navSpeedEvent{
	z-index: 150;
	/*overflow: hidden;*/
	background-color: #192F38;
}

.intro{
	font-size: 24px;
	color: #E7F1F2;
	/* line-height: 1.5em; */
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: 500;
}

.introduction {
	color: #E7F1F2;
	padding-right: 20px;
}

.btn{
	border-radius: 0;
	font-weight: 600;
}

.btn-default {
	border-radius: 0;
	font-weight: 600;
	background-color: #192f38;
	color: #758288;
	border: 1px solid #758288;
	padding: 7px 12px;
	margin-right: 20px;
}
.speedOptions .btn-default{
	margin-right: 30px;
	margin-bottom: 10px;
}

.firstPart .btn-default {
	background-color: #192f38;
	margin-top: 10px;
	color: #799ead;
	border-bottom: 2px solid #799ead !important;
	margin-right: 30px;
	margin-bottom: 10px;
	border: 0px;
}

.firstPart .activePage {
	color: #E7F1F2 !important;
	border-bottom: 2px solid #E7F1F2 !important;
}

.firstPart .btn-default:hover,
.firstPart .btn-default.active,
.firstPart .btn-default:active,
.firstPart .btn-default.focus,
.firstPart .btn-default:focus {
	color: #D1D5D7;
	border-bottom: 2px solid #D1D5D7 !important;
	border: 0px;
	border-radius: 0;
	background-color: #192f38;

}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
	color: #D1D5D7;
	background-color: #192f38;
	border: 1px solid #D1D5D7;
}

.btn-primary {
	color: #758288;
	background-color: #192f38;
	border-color: #758288;
}

.btn-primary:hover {
	color: #192f38;
	background-color: #E7F1F2;
	border-color: #758288;
}

.btn-highlighted {
	color: #E7F1F2;
	background-color: #192f38;
	border: 1px solid #E7F1F2;
	margin-left: 20px !important;
}


.legendIMG{
	margin-top: 10px;
	margin-right: 40px;
	width: 450px;
	float: left;
}
.legendIMG2{
	margin-top: 10px;
	margin-right: 40px;
	height: 118px;
	float: left;
}

.toggle{
	width: 90px;
	height: 36px;
}

.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
	width: 0;
	border-width: 0 1px;
	background-color: #E7F1F2 !important;
}

.toggle.btn {
	min-width: 70px;
	min-height: 34px;
}

.form-control{
	background-color: #192f38;
	color: #758288;
	font-weight: 600;
	border-radius: 0;
	border: 1px solid #758288;
	width: 100%;
	margin-top: 10px;
}
.form-control option{
	font-weight: 600;
}

.swimmer-list2,.swimmer-list3, #replayViz, #showMen, #showWomen, #showAll, #up, #replay, #swimmerNames, #replayViz2 {
	margin-top: 35px;
}

#replayViz,#showMen, #showWomen, #showAll {
	margin-left: 20px !important;
}

#up{
	float:right;
}

.showActive{
	background-color: #758288;
	color: #192f38;
}
.speedOptions{
	opacity:0;
}

.list-title {
	font-size: 14px;
	font-weight: 600;
	color: #758288;
	/*line-height: 2.3em;*/
}

.title{
	font-size: 18px;
	font-weight: 600;
}

.legendElement {
	fill: #D1D5D7;
	font-size: 14pt;
}

.legend{
	color: #D1D5D7;
	font-size: 10pt;
	line-height: 0.8em;
	fill: #D1D5D7;
	text-transform: none;
}

.custom-tooltip2,.custom-tooltip1{
	/*width: 250px;*/
	position: absolute;
	font-weight: 500;
	background-color: rgba(18, 33, 39, 0.8);
	display:none;
	white-space: nowrap;
	padding: 6px 12px;
}

.custom-tooltip3 {
	white-space: nowrap;
	position: absolute;
	font-size: 10pt;
	font-weight: 400;
	color: #758288;
	opacity:0;
}

.custom-tooltip-swimmers{
	position:absolute;
	font-size: 10pt;
	font-weight: 500;
	color: #758288;
	background-color: rgba(18, 33, 39, 0.8);
	white-space: nowrap;
	padding: 12px;
	display:none;
}

/*Speed visualization*/

.speedInfo{
	position: absolute;
	width: 550px;
	background-color: rgba(25, 47, 56, 0.75);
	padding: 20px;
	border: 1px solid #758288;
	z-index: 100;
	margin-top: 10px;
}
.speedInfoHide{
	display:none;
}
span.informationIcon {
	background-color: transparent;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 5px;
	background-image: url(../information-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.speedTitle{
	margin-top: 40px;
	color: #758288;
	font-weight: 600;
}



@media (min-width: 1561px) {
	.margininfo{
		top: 45px;
		position: absolute;
	}
}

@media (max-width: 1560px) and (min-width: 991px) {
	.margininfo{
		top: 30px;
		position: absolute;
	}
}

@media (max-width: 990px){
	.margininfo{
		top: 0px;
		position: absolute;
	}
}


.speedInfo img{
	width: 100%;
}

#sketch1{
	height:700px;
}

#sketch1 svg{
	height: 1200px !important;
}

#miniMenu svg{
	height: 300px !important;
}

#explanation svg {
	height:80px;
	fill: #D1D5D7;
	font-size:12px;
}

.hide, .hideViz1 {
	opacity:0;
}

#legend1{
	padding-top: 30px;
	max-height: 80px;
}

#swimmer2, #swimmer, #swimmer3 {
    font-weight:600 !important;
}

#year{
	position: absolute;
	text-align: center;
	font-size: 21px;
	font-weight: 900;
}

.plot2 {
	width: 5%;
	height: 300px;
	padding-right: 30px;
	padding-left: 30px;
	/* margin: 10px 0; */
	border: 1px solid white;
	float: left;
	margin-bottom: 40px;
	/* margin-left: 15px; */
}


#eventTitle, .eventTitle {
	font-weight: 700;
	font-size: 16pt;
	color: #799ead;
	/* text-transform: uppercase; */
	/* letter-spacing: 0.01em; */
	margin-bottom: 15px;
	margin-top: 10px !important;
	padding-top: 10px;
}

.event svg {
	width: 100%;
	height: 300px;
}

.event {
	margin-bottom:70px;
}

.swimrecords{
	mix-blend-mode: screen;
}

.swimmers,.event {
	mix-blend-mode: screen;
}

.axis .tick text, .speedTick,.legendtick {
	font-size: 10pt;
	pointer-events: none;
	fill: #758288;
	font-family: "Raleway medium";

}

.axis-x .tick text, .bySex {
	font-size: 13px;
	fill: #758288;
}

.axis .tick line,  {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
	stroke-dasharray: 3,2;
}

.axis .tick line, .axisLine{
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
	/*stroke-dasharray: 3,2;*/
}

.axis  path {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
}

.tick-speed {
	fill:none;
	shape-rendering: crispEdges;
	stroke: rgba(71, 89, 96, 0.66);
	stroke-width: 1;
	stroke-dasharray: 3,2;
}

/*analytical*/

#explanation2 svg {
	height:40px !important;
	fill: #D1D5D7;
	font-size:12px;
}

.clock {
	min-height: 68px;
	font-size: 11pt;
	/* display: inline-block; */
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	/* white-space: nowrap; */
	padding: 6px 12px;
	line-height: 1.35;
	user-select: none;
	background-color: #192f38;
	color: #758288;
	font-weight: 600;
	border-radius: 0;
	border: 1px solid #758288;
}

#timer{
	font-size: 12pt;
	font-weight: 700;
}



.swim{
	mix-blend-mode: screen;
}

/*ALL SWIMMERS*/
#allSwimmers{
	margin-top:50px;
	height: 400px;
}
.speed{
	margin-bottom:50px;
}
.speed svg {
	height: 100px;
}

.speed canvas {
	/*height: 300px;*/
}
/*footer*/

.modal-footer {
	border-top: 1px solid #758288;
	margin-top: 100px;
	text-align: left;
	margin-bottom: 50px;
}

.rightside{
	margin-top: 20px;
}

.credits {
	font-size: 10pt;
	/*line-height: 11pt;*/
	text-align: left;
	/*padding-left: 20px;*/
}
.credits a{
	font-size: 10pt;
	font-weight: 600;
	margin-left:0px !important;
}
.creditsbtns{
	margin-top:10px;
}

.icon {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
}
.iconAbout {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.iconPage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.iconHTML:hover{
	opacity:1;
}
.iconHTML{
	opacity: 0.75;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*about*/
li, ul {
	font-weight: 400;
	font-size: 11pt;
	/*color: #E7F1F2;*/
	margin-bottom:5px;
	margin-left:-20px;
}
.about a {
	font-weight: 600;
	font-size: 11pt;
	color: #799ead;
	 margin-left: 0px !important;
}