.swimmingpool {
    fill:#192F38
}

#sketch3 {
    height:400px
}

.clock-old{
    /*margin-top:20px;*/
    margin-bottom: 20px;
    padding: 40px 0px 0px 0px;
    /* line-height: 1.35; */
    user-select: none;
    background-color: #192f38;
    color: #758288;
    font-weight: 600;
    border-radius: 0;
    /* border: 1px solid #758288; */
}
.clockEvent{
    color: #758288;
    font-weight: 600;
}

#sketch2-ranges{
    height: 800px;
}
#sketch2-ranges svg{
    height: 800px;
}

