html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background:#192F38;
	font-family: 'Raleway', sans-serif;
}

body{

	font-size: 16px;
	color: #dbe5e6;
}

h1{
	font-weight: 300;
	font-size: 40px;
	color: #E7F1F2;
}
h2{
	font-weight: 500;
	font-size: 18pt;
	margin-top: 50px;
	color: #799ead;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin-bottom: 20px;
}

p{
	font-weight: 400;
	font-size: 0.9em;
	/*color: #E7F1F2;*/
}

.container .section{
	width:100%;
}
.container .canvas {
	width:100%;
	/*background:#192F38;*/
	/*height:800px;*/
	position:relative;
}

.container-fluid {
	margin-right: 0;
	margin-left: 0;
	padding-left: 60px;
	padding-right: 60px;
}

#speedVisualization {
	height:0px;
	overflow: hidden;
}

.container-heightSpeed {
	height: 1090px !important;
}

#analyticalVisualization {
	height:0px;
	overflow: hidden;
}

.container-heightAnalytical {
	height: 1090px !important;
}

#speedPlot{
	margin-top: 50px;
}

.firstPart {
	color: #799ead;
	background-color: #192f38;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 -3px 7px rgba(0, 0, 0, 0.1);
	padding-top: 100px;
	padding-bottom: 30px;
	border-bottom: 1px solid #213d48;
}

.intro{
	font-size: 24px;
	color: #E7F1F2;
	/* line-height: 1.5em; */
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: 500;
}

.introduction {
	color: #E7F1F2;
	padding-right: 20px;
}

.btn-default {
	border-radius: 0;
	font-weight: 600;
	margin-right: 30px;
	margin-bottom: 10px;
	background-color: #192f38;
	color: #758288;
	border: 1px solid #758288;
	padding: 7px 12px;
}

.firstPart .btn-default {
	background-color: #192f38;
	margin-top: 10px;
	color: #799ead;
	border: 1px solid #799ead ;
}

.firstPart .btn-default:hover,
.firstPart .btn-default.active,
.firstPart .btn-default:active,
.firstPart .btn-default.focus,
.firstPart .btn-default:focus {
	color: #192f38;
	background-color: #799ead;
	border-color: #799ead;
	border-radius: 0;
}

.speedOptions{
	float:left;
}
.form-control{
	background-color: #192f38;
	color: #758288;
	font-weight: 600;
	border-radius: 0;
	border: 1px solid #758288;
	width: initial;
}
.form-control option{
	font-weight: 600;
}


.list-title {
	font-size: 14px;
	font-weight: 600;
	color: #758288;
	line-height: 2.3em;
}

.title{
	font-size: 18px;
	font-weight: 600;
}

.legendElement {
	fill: #D1D5D7;
	font-size: 14pt;
}

.legend{
	color: #D1D5D7;
	font-size: 10pt;
	line-height:0.8em;
}

.custom-tooltip2,.custom-tooltip1{
	/*width: 250px;*/
	position: absolute;
	font-weight: 500;
	background-color: rgba(18, 33, 39, 0.8);
	display:none;
	white-space: nowrap;
	padding: 6px 12px;
}

.custom-tooltip3 {
	white-space: nowrap;
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	color: #758288;
	opacity:0;
}


/*Speed visualization*/

#sketch1{
	height:700px;
}

#sketch1 svg{
	height: 1200px !important;
}

#miniMenu svg{
	height: 300px !important;
}

#explanation svg {
	height:80px;
	fill: #D1D5D7;
	font-size:12px;
}

.hide, .hideViz1 {
	opacity:0;
}

#legend1{
	padding-top: 30px;
	max-height: 80px;
}

#swimmer2, #swimmer, #swimmer3 {
    font-weight:600 !important;
}

#year{
	position: absolute;
	text-align: center;
	font-size: 21px;
	font-weight: 900;
}

.plot2 {
	width: 5%;
	height: 300px;
	padding-right: 30px;
	padding-left: 30px;
	/* margin: 10px 0; */
	border: 1px solid white;
	float: left;
	margin-bottom: 40px;
	/* margin-left: 15px; */
}

#eventTitle, .eventTitle {
	font-weight: 700;
	font-size: 16pt;
	color: #799ead;
	/* text-transform: uppercase; */
	/* letter-spacing: 0.01em; */
	margin-bottom: 15px;
	margin-top: 10px !important;
	padding-top: 10px;
}

.swimrecords{
	mix-blend-mode: screen;
}

.swimmers,.event {
	/*fill: rgb(0, 186, 255);*/
	mix-blend-mode: screen;
	/*stroke: rgba(0,186,255,0.5);*/
	/*stroke-width:0.5px;*/
}

.color {
	color: rgba(0,186,255,0.5)
}

.axis .tick text {
	font-size: 12px;
	pointer-events: none;
	fill: #758288;

}

.axis-x .tick text, .bySex {
	font-size: 13px;
	fill: #758288;
}

.axis .tick line,  {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
	stroke-dasharray: 3,2;
}

.axis .tick line {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
	/*stroke-dasharray: 3,2;*/
}

.axis  path {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
}
.axisLine {
	fill:none;
	shape-rendering: crispEdges;
	stroke: #475960;
	stroke-width: 1;
}

/*analytical*/


#sketch2 svg{
	height:500px;
}

#explanation2 svg {
	height:40px !important;
	fill: #D1D5D7;
	font-size:12px;
}

.clock {
	min-height: 68px;
	font-size: 11pt;
	background-color: #192f38;
	color: #D1D5D7;
	border-radius: 0;
	border: 1px solid #D1D5D7;
	/* display: inline-block; */
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	/* white-space: nowrap; */
	padding: 6px 12px;
	line-height: 1.35;
	user-select: none;
}

#timer{
	font-size: 12pt;
	font-weight: 700;
}

#sketch2 .control-module{
	margin-top: 20px;
}

.swim{
	mix-blend-mode: screen;
}


/*footer*/

.creditdiv {
	border-left: 1px solid #799ead;
}

.credits {
	font-size: 9pt;
	line-height: 11pt;
	/*text-align: right;*/
	padding-left: 20px;
}

img {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
}
/*//download svg*/
.download {
	background: #333;
	color: #FFF;
	font-weight: 900;
	border: 2px solid #B10000;
	padding: 4px;
	margin:4px;
}